#intro-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 10;
}

#game-container {
    display: none;
}

#game-over-screen {
    display: none;
}
